
Add forms

<ul>
<li><a href="/petitioner/">Petitioner</a></li>
<li><a href="/accused/">Accused</a></li>
<li><a href="/victim/">Victim</a></li>
<li><a href="/incident/">incident</a></li>
<li><a href="/investigationOfficer/">investigation Officer</a></li>
<li><a href="/firForm/">FIR</a></li>
<li><a href="/case/">Case</a></li>
</ul>

View:

<ul>
    <li><a href="/showpetitioner/" >petitioner</a></li>
    <li><a href="/showAccused/" >accused</a></li>
    <li><a href="/showVictim/" >victim</a></li>
    <li><a href="/showIncident/" >incident</a></li>
    <li><a href="/showInvestigationOfficer/">Investigation Officer</a></li>
    <li><a href="/showFIR/" >FIR</a></li>
    <li><a href="/showCase/" >Case</a></li>
</ul>

Update:
<ul>
    <li><a href="/updatePetitioner/" >petitioner</a></li>
    <li><a href="/updateAccused/" >accused</a></li>
    <li><a href="/updateVictim/" >victim</a></li>
    <li><a href="/updateIncident/" >incident</a></li>
    <li><a href="/updateInvestigationOfficer/">Investigation Officer</a></li>
    <li><a href="/updateFIR/" >FIR</a></li>
    <li><a href="/updateCase/" >Case</a></li>
</ul>

Delete:

<ul>
    <li><a href="/deletePetitioner/" >petitioner</a></li>
    <li><a href="/deleteAccused/" >accused</a></li>
    <li><a href="/deleteVictim/" >victim</a></li>
    <li><a href="/deleteIncident/" >incident</a></li>
    <li><a href="/deleteInvestigationOfficer/">Investigation Officer</a></li>
    <li><a href="/deleteFIR/" >FIR</a></li>
    <li><a href="/deleteCase/" >Case</a></li>
</ul>